<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week4-products...uu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
          <!-- 新建的商品>呼叫modal>初始化temp>isnew狀態變成true -->
          <button class="btn btn-primary" @click="showModal('new')">
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">
                分類
              </th>
              <th>產品名稱</th>
              <th width="120">
                原價
              </th>
              <th width="120">
                售價
              </th>
              <th width="100">
                是否啟用
              </th>
              <th width="120">
                編輯
              </th>
            </tr>
          </thead>

          <!-- showproduct 全部商品區 -->
          <tbody>
            <tr v-for="(item) in products" :key="item.id">
              <td>{{item.category}}</td>
              <td>{{item.title}}</td>
              <td class="text-end">{{item.origin_price}}</td>
              <td class="text-end">{{item.price}}</td>
              <td>
                <span class="text-success" v-if="item.is_enabled">啟用</span>
                <span v-else>未啟用</span>
              </td>
              <td>
                <div class="btn-group">
                 <!-- 編輯舊商品>呼叫modal>將v-for item 回傳function 並且存在temprodut中 >isnew狀態變成false -->
                  <button type="button" class="btn btn-outline-primary btn-sm"  @click="showModal('edit',item)">
                    編輯
                  </button>
                  <!-- 刪除商品>呼叫modal>將v-for item 回傳function 並且存在temprodut中 > modal中取到的資料就是當前的資料-->
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="showModal('del',item)">
                    刪除
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>


      <!-- 分頁元件 -->
      <pagination :pages='pagination' :get_product="showProducts"></pagination>
      </div>

      
      <!-- Modal -->
      <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel"
           aria-hidden="true">

           <product_moda :temproduct="temproduct" :isNew="isNew" :update-product="updateProduct"></product_moda>
      </div>

      <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
           aria-labelledby="delProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
              是否刪除
              <strong class="text-danger">{{temproduct.title}}</strong> 商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="delProduct">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
    </div>


    <script type="text/x-template" id="product_modal_template">
      <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title" v-if="isNew">
                <span>新增產品</span>
              </h5>
              <h5 id="productModalLabel" class="modal-title" v-else>
                <span>編輯</span><span style="color:rgb(255, 132, 0)">{{temproduct.title}}</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-2">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label">主要圖片</label>
                      <input v-model="temproduct.imageUrl" type="text" class="form-control"
                             placeholder="請輸入圖片連結">
                    </div>
                    <img class="img-fluid" :src="temproduct.imageUrl" alt="">
                  </div>

                  <!-- 多圖新增 -->
                  
                  <h3 class="mb-3">多圖新增</h3>
                  
                  <!-- 需要先判斷imagesUrl是否是陣列 -->
                  <!-- 如果沒有這句，imagesUrl又沒有圖片的話會出錯 -->
                  <!-- 因為會沒有imagesUrl這個屬性但是v-for卻會一直往temproduct裡面找imagesurl(不存在) -->
                  <!-- 解決方法是直接新增插入一比空資料到imagesurl裡(下下方v-else129) -->
                  <template v-if="Array.isArray(temproduct.imagesUrl)">
                    <div class="mb-2" v-for="(item,key) in temproduct.imagesUrl" :key="key">
                      <div class="mb-3">
                        <label for="imagesUrl" class="form-label">圖片網址</label>
                        <!-- 這裡不用item是因為 item 是指向不同記憶體，所以想改直時會改不到temproduct上 -->
                        <input v-model="temproduct.imagesUrl[key]" type="text" class="form-control"
                              placeholder="請輸入圖片連結">
                      </div>
                      <img class="img-fluid" :src="item" alt="">
                    </div>
                    <!-- 看不懂這串?現在懂了 -->
                  <!-- 如果(!tempProduct.imagesUrl陣列有無東西)||(tempProduct.imagesUrl最後一個有無值)  -->
                  <!-- 如果(!tempProduct.imagesUrl陣列有東西)false||(tempProduct.imagesUrl最後一個無值)false  叫出delet按鈕-->
                  <!-- 如果(!tempProduct.imagesUrl陣列無東西)true||(tempProduct.imagesUrl最後一個無值)false  叫出新增按鈕-->
                    <div v-if="!temproduct.imagesUrl.length || temproduct.imagesUrl[temproduct.imagesUrl.length - 1]">
                      <!-- 用push放進imagesUrl陣列裡新增一筆空的圖片網址，for就會叫出來此字串，在來編輯 -->
                      <button class="btn btn-outline-primary btn-sm d-block w-100" @click="temproduct.imagesUrl.push('')">
                        新增圖片
                      </button>
                    </div>
                    <div v-else>
                      <!-- 刪除最後一筆-->
                      <button class="btn btn-outline-danger btn-sm d-block w-100" @click="temproduct.imagesUrl.pop()">
                        刪除圖片
                      </button>
                    </div>
                  </template>
                  <!-- 為啥不能跟上面一樣用tempProduct.imagesUrl.push('') -->
                  <!-- 因為tempProduct沒有imagesUrl這個陣列所以要先用createImages將資料放進去才可以讀到-->
                  <!--imagesurl 裡面沒有圖片時，需要自己先創imagesurl[]，並在裡面新增一筆data-->
                  <div v-else>
                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="creatImg">
                      新增圖片?
                    </button>
                  </div>


                </div>
                <div class="col-sm-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">標題</label>
                    <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="temproduct.title">
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="category" class="form-label">分類</label>
                      <input id="category" type="text" class="form-control"
                             placeholder="請輸入分類" v-model="temproduct.category">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">單位</label>
                      <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="temproduct.unit">
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">原價</label>
                      <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model.number="temproduct.origin_price">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">售價</label>
                      <input id="price" type="number" min="0" class="form-control"
                             placeholder="請輸入售價" v-model.number="temproduct.price">
                    </div>
                  </div>
                  <hr>

                  <div class="mb-3">
                    <label for="description" class="form-label">產品描述</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入產品描述" v-model="temproduct.description">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">說明內容</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入說明內容" v-model="temproduct.content" >
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input id="is_enabled" class="form-check-input" type="checkbox"
                             :true-value="1" :false-value="0" v-model="temproduct.is_enabled">
                      <label class="form-check-label" for="is_enabled" >是否啟用</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                取消
              </button>
              <button type="button" class="btn btn-primary" @click="updateProduct">
                確認
              </button>
            </div>
          </div>
        </div>

    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
            integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
            crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
    <script src="./js/products.js" type="module"></script>
  </body>

</html>